<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
      <customErrors mode="On" defaultRedirect="Error.aspx">
        
      </customErrors>
    </system.web>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
    <add key="AWSBucketName" value="gti-configfiles"/>
    <add key="AWSAccessKey" value="AKIAIQDOH7XYI2HFDJPA"/>
    <add key="AWSSecretKey" value="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"/>
    <add key="AWSCloudFilePath" value="https://s3-us-west-1.amazonaws.com/gti-configfiles/"/>

  </appSettings >
  
  <connectionStrings>

    <add name="DbConn" connectionString="Server=gticloudmaster.cx2ay4llxkng.us-east-2.rds.amazonaws.com,1433;Database=gti_cloud;User ID=gticloud;Password=gticloud;" providerName="System.Data.SqlClient"/>
  </connectionStrings>


</configuration>
